
// # Front-end Style Guide


$Mobile: 375px;
$Desktop: 1440px;

// ## Colors

// ### Primary

$colorText: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);


// ### Neutral
$darkBlue: hsl(217, 54%, 11%);
$darkBlue2: hsl(216, 50%, 16%);
$darkBlue3: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

// ### Font

$font-family:'Outfit', sans-serif;

// - Weights: 300, 400, 600

$light:300;
$regular:400;
$semiBold:600;

